$baseFont:'Source Sans Pro', sans-serif;
$secondFont: 'Montserrat', sans-serif;
$thirdFont: 'Merriweather', serif;


// Pinks
$fourthColor:rgb(232,54,154);
$fifthColor:rgb(238,111,46);
$sixthColor: rgb(184, 48, 66);
// Blues
$seventhColor: rgb(0,39,209);
// Neutrals
$firstColor: rgb(255, 255, 255);
$secondColor: rgb(17, 14, 31);
$thirdColor:rgb(78, 76, 78);

// Font Sizes
$biggestSize: 40px;
$bigSize: 30px;
$regularSize: 20px;
$smallSize: 16px;
$tinySize: 14px;

@import "components/setup";
@import "components/header";
@import "components/main";
@import "components/footer";
@import "components/mediaquery";

html{
  font-size: 62.5%;
  font-family: $baseFont;
}

img{
  width: 100%;
}

.maxWrapper{
  width: 95%;
  margin: 0 auto;
}

.minWrapper{
  width: 1080px;
  margin: 0 auto;
}