// .skillsContainer{
//     background: rgb(214,181,250);
//     padding: 3%;
//     display: flex;
//     flex-direction: row;
//     justify-content: space-between;
//     margin-bottom: 7%;
// }

// .skillsIcon{
//     display: flex;
//     width: 60%;
//     i{
//         font-size: 47px;
//         color: $thirdColor;
//         padding-left: 3%;
//         padding-right: 3%;
//     }

.footerIcons{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 15%;
}

.footerBox{
    i{
        font-size: 24px;
        color: $thirdColor;
        padding-left: 3%;
    }
}

.copyright{
    p{
        font-family: $baseFont;
        font-weight: 300;
        font-size: $smallSize;
        color: $thirdColor;
        text-align: center;
        margin-top: 7%;
    }
}