main{
    .designMotto{
        margin-bottom: 13%;
        i{
            font-size: 20px;
            color: $thirdColor;
            padding-left: 50%;
        }
        p{
            font-family: $thirdFont;
            font-size: $regularSize;
            font-weight: 300;
            color: $thirdColor;
            text-align: center;
        }
    }
    .fa-bounce {
        display: inline-block;
        position: relative;
        -moz-animation: bounce 1s infinite linear;
        -o-animation: bounce 1s infinite linear;
        -webkit-animation: bounce 1s infinite linear;
        animation: bounce 1s infinite linear;
    }
    
    @-webkit-keyframes bounce {
        0% { top: 0; }
        50% { top: -0.2em; }
        70% { top: -0.3em; }
        100% { top: 0; }
    }
    @-moz-keyframes bounce {
        0% { top: 0; }
        50% { top: -0.2em; }
        70% { top: -0.3em; }
        100% { top: 0; }
    }
    @-o-keyframes bounce {
        0% { top: 0; }
        50% { top: -0.2em; }
        70% { top: -0.3em; }
        100% { top: 0; }
    }
    @-ms-keyframes bounce {
        0% { top: 0; }
        50% { top: -0.2em; }
        70% { top: -0.3em; }
        100% { top: 0; }
    }
    @keyframes bounce {
        0% { top: 0; }
        50% { top: -0.2em; }
        70% { top: -0.3em; }
        100% { top: 0; }
    }
    
    // Design Focus Section
    .fa-pulse {
        display: inline-block;
        -moz-animation: pulse 4.5s infinite linear;
        -o-animation: pulse 4.5s infinite linear;
        -webkit-animation: pulse 4.5s infinite linear;
        animation: pulse 4.5s infinite linear;
    }

    @-webkit-keyframes pulse {
        0% { opacity: 1; }
        50% { opacity: 0.4; }
        100% { opacity: 1; }
    }
    @-moz-keyframes pulse {
        0% { opacity: 1; }
        50% { opacity: 0.3; }
        100% { opacity: 1; }
    }
    @-o-keyframes pulse {
        0% { opacity: 1; }
        50% { opacity: 0.3; }
        100% { opacity: 1; }
    }
    @-ms-keyframes pulse {
        0% { opacity: 1; }
        50% { opacity: 0.3; }
        100% { opacity: 1; }
    }
    @keyframes pulse {
        0% { opacity: 1; }
        50% { opacity: 0.3; }
        100% { opacity: 1; }
    }

    .designTextContainer{
        h3{
            font-family: $secondFont;
            font-weight: 700;
            font-size: 63px;
            color: $fourthColor;
            margin: 0px;
        }
    }

    .designContainer{
        background: rgb(46,102,235);
        margin-bottom: 13%;
        .designAim{
            width: 33.33%;
            float: left;
        }

        i{
            font-size: 57px;
            color: $firstColor;
            padding-left: 40%;
            padding-top: 20%;
        }
        h5{
            font-family: $secondFont;
            font-size: $smallSize;
            font-weight: 700;
            color: $firstColor;
            letter-spacing: 2px;
            text-transform: uppercase;
            text-align: center;
        }
        p{
            font-family: $baseFont;
            font-size: $smallSize;
            font-weight: 300;
            color: $firstColor;
            text-align: center;
            line-height: 1.5;
            padding: 30px 30px;
        }
    }

    // Works Section
    .works{
        margin-bottom: 13%;
    }

    .workText{
        h2{
            font-family: $secondFont;
            font-size: 63px;
            font-weight: 700;
            color: $fourthColor;
            margin: 0px;
        }
    }

    .workContainer{
        background: $fifthColor;
        margin-bottom: 5%;
        .workBox{
            width: 50%;
            float: left;
            h4{
                font-family: $secondFont;
                font-size: $bigSize;
                font-weight: 700;
                color: $firstColor;
                letter-spacing: 2px;
                text-align: left;
            }
            span{
                font-family: $baseFont;
                font-size: $tinySize;
                font-weight: 700;
                color: $thirdColor;
                letter-spacing: 2px;
                text-align: center;
            }

            p{
                font-family: $baseFont;
                font-size: $regularSize;
                font-weight: 300;
                color: $firstColor;
                text-align: left;
            }
            
            button{
                text-decoration: none;
                border: 1px solid $firstColor;
                padding: 7px 54px;
                background: $firstColor;
                margin-top: 5%;
            }

            button:hover,
            button:focus{
                transition: background-color 0.5s ease;
                background: $thirdColor;
                transition: color 0.5s ease;
                color: $firstColor;
                transition: border 0.5s ease;
                border: 1px solid $thirdColor;
            }
            .draw{
                font-family: $baseFont;
                font-size: $regularSize;
                font-weight: 300;
                color: $thirdColor;
            }
        }
        .workInfo{
            padding: 7%;
        }
        .workImage{
            padding: 1%;
        }
    }
   
    // About Section
    .aboutContainer{
        margin-bottom: 13%;
    }
    .aboutBox{
        width: 50%;
        float: left;
        h3{
            font-family: $secondFont;
            color: $fourthColor;
            font-weight: 700;
            font-size: 63px;
            text-align: center;
            margin: 0;
        }
        p{
            font-family: $baseFont;
            font-weight: 300;
            font-size: $regularSize;
            color: $thirdColor;
            line-height: 1.5;
            padding: 0px 10%;
        }
    }

    .ange{
        padding: 0% 8%;
    }
    .aboutSkill{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
    .aboutInfo{
        width: 50%;
        padding: 2%;
        h5{
            font-family: $secondFont;
            font-size: $smallSize;
            font-weight: 700;
            color: $fourthColor;
            letter-spacing: 2px;
            text-align: left;  
        }
        h6{
            font-family: $baseFont;
            font-size: $tinySize;
            font-weight: 300;
            color: $thirdColor;
            letter-spacing: 2px;
            text-align: left; 
            line-height: 1.5;
        }

    }

    // Skills Container
    .skillsBox{
       p{
        font-family: $secondFont;
        color: $fourthColor;
        font-weight: 700;
        font-size: 63px;
        margin: 0;
       }
    }

    .skillsContainer{
        background: rgb(214,181,250);
        padding: 3%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 7%;
    }

    .skillsIcon{
        display: flex;
        width: 60%;
        i{
            font-size: 47px;
            color: $thirdColor;
            padding-left: 3%;
            padding-right: 3%;

        }
    }
   

    // Contact Section
    .contactText{
        background: rgb(121,119,245);
        margin-bottom: 3%;
        h5{
            font-family: $secondFont;
            font-weight: 700;
            font-size: $regularSize;
            text-transform: uppercase;
            color: $firstColor;
            text-align: center;
            padding: 40px 0px;
            letter-spacing: 3px;
            margin: 0;
        }
        h5:hover,
        h5:focus{
            color: $thirdColor;
        }
    }
}

