main{
    .designMotto{
        i{
            font-size: 20px;
            color: $thirdColor;
            padding-left: 50%;
        }
        p{
            font-family: $thirdFont;
            font-size: $regularSize;
            font-weight: 300;
            color: $thirdColor;
            text-align: center;
        }
    }

    .designTextContainer{
        h3{
            font-family: $secondFont;
            font-weight: 700;
            font-size: 60px;
            color: $fourthColor;
            margin: 0px;
        }
    }

    .designContainer{
        background: rgb(46,102,235);
        .designAim{
            width: 33.33%;
            float: left;
        }

        i{
            font-size: 57px;
            color: $firstColor;
            padding-left: 40%;
            padding-top: 20%;
        }
        h5{
            font-family: $secondFont;
            font-size: $smallSize;
            font-weight: 700;
            color: $firstColor;
            letter-spacing: 2px;
            text-transform: uppercase;
            text-align: center;
        }
        p{
            font-family: $baseFont;
            font-size: $smallSize;
            font-weight: 300;
            color: $firstColor;
            text-align: center;
            line-height: 1.5;
            padding: 30px 30px;
        }
    }

    // Works Section
    .workText{
        h2{
            font-family: $secondFont;
            font-size: 60px;
            font-weight: 700;
            color: $fourthColor;
            margin: 0px;
        }
    }

    .workContainer{
        background: $fifthColor;
        margin-bottom: 5%;
        .workBox{
            width: 50%;
            float: left;
            h4{
                font-family: $secondFont;
                font-size: $bigSize;
                font-weight: 700;
                color: $firstColor;
                letter-spacing: 2px;
                text-align: left;
            }
            span{
                font-family: $baseFont;
                font-size: $tinySize;
                font-weight: 700;
                color: $thirdColor;
                letter-spacing: 2px;
                text-align: center;
            }

            p{
                font-family: $baseFont;
                font-size: $regularSize;
                font-weight: 300;
                color: $firstColor;
                text-align: left;
            }
        }
        .workInfo{
            padding: 7%;
        }
        .workImage{
            padding: 1%;
        }
    }

    // About Section
    .aboutBox{
        width: 50%;
        float: left;
        h3{
            font-family: $secondFont;
            color: $fourthColor;
            font-weight: 700;
            font-size: 60px;
            text-align: center;
            margin: 0;
        }
        p{
            font-family: $baseFont;
            font-weight: 300;
            font-size: $regularSize;
            color: $thirdColor;
            line-height: 1.5;
            padding: 0px 10%;
        }
    }

    .ange{
        padding: 0% 8%;
    }
    .aboutSkill{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
    .aboutInfo{
        width: 50%;
        padding: 2%;
        h5{
            font-family: $secondFont;
            font-size: $smallSize;
            font-weight: 700;
            color: $fourthColor;
            letter-spacing: 2px;
            text-align: left;  
        }
        h6{
            font-family: $baseFont;
            font-size: $tinySize;
            font-weight: 300;
            color: $thirdColor;
            letter-spacing: 2px;
            text-align: left; 
            line-height: 1.5;
        }

    }

    // Skills Container
    .skillsBox{
       p{
        font-family: $secondFont;
        color: $fourthColor;
        font-weight: 700;
        font-size: 60px;
        margin: 0;
       }
    }

    .skillsContainer{
        background: rgb(214,181,250);
        padding: 3%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .skillsIcon{
        display: flex;
        width: 60%;
        i{
            font-size: 47px;
            color: $thirdColor;
            padding-left: 3%;
            padding-right: 3%;

        }
    }

    // Contact Section
    .contactText{
        background: rgb(121,119,245);
        h5{
            font-family: $secondFont;
            font-weight: 700;
            font-size: $regularSize;
            text-transform: uppercase;
            color: $firstColor;
            text-align: center;
            padding: 40px 0px;
        }
    }
}